/* for phone */
@import "variables.scss";
@charset "utf-8";

html {
  font-family:'Microsoft YaHei',sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  background: #f5f5f9;
  font-size:$font-size-base;
  color:#666;
}
article,
aside,
details, 
figcaption,
figure,
footer,
header,
hgroup,
main, 
menu, 
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
} 
a {
  background-color: transparent;
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  margin: .67em 0;
  font-size: 2em;
}
mark {
  color: #000;
  background: #ff0;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -.5em;
}
sub {
  bottom: -.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  height: 0;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp { 
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea,ul ,p{
  margin: 0;
  font: inherit;
  padding:0;
  color: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
  outline:none;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}
legend {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
  resize: none;
}
optgroup {
  font-weight: bold;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
ol,ul{list-style:none;margin:0;padding:0;}
*{ -webkit-tap-highlight-color: rgba(255,255,255,0);-webkit-tap-highlight-color: transparent;  }  
input{-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-user-modify:read-write-plaintext-only; outline: none;color:#333;}
::-webkit-input-placeholder{color:#ccc;}
:-moz-placeholder{color:#ccc;}
::-moz-placeholder{color:#ccc;}
:-ms-input-placeholder{color: #ccc ;}

html {
  -ms-touch-action: none;
   font-family: 'Microsoft YaHei',sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}  
.f-clearfix:after{
  content:'';
  height:0;
  clear:both;
  overflow:hidden;
  display:block;
}
.f-fl{float:left;}
.f-fr{float:right;}
.f-white{background-color:#fff !important;}
.f-txt-indent2{text-indent:2rem;}
.f-hidden{display:none !important;}
.f-block{display:block !important;}
.f-inlineblock{display:inline-block !important;}
.container{background:#f5f5f9;}
.f-ml5{ margin-left:10rem/$font-base-unit;}
input[readonly='readonly']{
  cursor:none;
}